.posts-container {
  display:flex;
  flex-wrap: wrap;
  max-width: 80rem;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 6px;
  position: relative;
}

.post {
  max-width: 50rem;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;

  align-items: left;
  text-align: left;
}

.post-image {
  max-width: 100%;
}